<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>Dentista Agendamento</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Dentista agendado para <span th:text="${emailDomain.name}"></span</p>
    <ul>
      <li><b>Data</b>: <span th:text="${emailDomain.date}"></span></li>
      <li><b>Preço</b>: <span th:text="${emailDomain.price}"></span></li>
      <li><b>Duração</b>: <span th:text="${emailDomain.durationInMinutes}"></span></li>
    </ul>
  </body>
</html>
